.div1{
    background-color: rgb(253, 105, 6);
}
.thep2div{
    color: white;
    position: relative;
    right: 350px;
}
.img1{
    height: 50px;
}
.img5{
    height: 500px;
    

}
.innerthep3div{
    display: flex;
}
.div4{
    display: flex;
justify-content: center;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);;
}
.div3{
background-color: rgb(158, 174, 130);
font-size: large;
color: white;
width: 200px;
height: 150px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.p11{
    margin-top:  10px;
}
.img11{
    margin-top: 20px;
}
.div5{
background-color: rgb( 105, 146, 35);
font-size: large;
color: white;
width: 200px;
height: 150px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.p12{
margin-top: 20px;
}
.img12{
    margin-top:20px
}
.div6{
background-color: rgb(80, 159, 51);
 font-size: large;
 color: white; 
 text-align: center;
 
width: 200px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
height: 150px;
}
.div7{
    background-color:  rgb(201, 250, 110) ;
    width: 337px;
}
 .p22{
    margin-top: 95px;
 }
.img3{
    width: 300px;
    height: 150px;
}
.img22{
    height: 72px;
    position: relative;
    top: 15px;
    }
    footer{
         background-color: rgb(78, 117, 28);
      height: 250px;
    }
    .finaldiv{
        background-color: rgb(163, 178, 133);
        
        color: white;
    }
   
    .lineparent{
        display: flex;           
        justify-content: center; 
        position: relative; 
        left: 200px;         
        margin-top: 20px;
    }
    .line,
.line3,
.line2 {
  width: 150px;
  height: 2px;
}
    .line {
        background-color: blue;
      }
      .line3 {
        background-color: yellow;
      }
 
    .thep{
        color: white;
        margin-left: 100px;
        
    }
    .thep2{
        color: white;
        display: flex;
    }
    .thep3{
        color: white;
    }
    .thepdiv{
    color: white;

    margin-right: 400px;
    text-align: left;
    
    }
.p22{
    position: relative;
    bottom: 100px;
}  
.img23{
    height: 90px;
   width: 90px;
   margin-top: 15px;
}
.div8{
    background-color: rgb(42, 65, 165);
    color: white;
    width: 300px;
}
.div9{
    
}
.div10{ background-color: rgb(42, 165, 165);
    color: white;
    width: 300px;}
.div12{
    justify-content: center;
    display: flex;
    
}
.div13{
    background-color: rgb(184, 159, 45);
}
.div14{
    
    border-top: 100px;
    
}
.parent2{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
.parent3{
    display: flex;
}